/* theme colors */

$--color-primary: #2b6cb0 !default;

$--color-white: #ffffff !default;

$--color-black: #000000 !default;

$--color-success: #67c23a !default;

$--color-warning: #e6a23c !default;

$--color-danger: #f56c6c !default;

$--color-info: #909399 !default;

$--color-text-primary: #303133 !default;

$--color-text-regular: #606266 !default;

$--color-text-secondary: #909399 !default;

$--color-text-placeholder: #c0c4cc !default;

$--background-color-base: #f5f7fa !default;
