@import 'variables.scss';

@import '~element-plus/packages/theme-chalk/src/index';

.el-form--label-top .el-form-item__label {
  line-height: 1.2;
}

a {
  color: $--color-primary;

  transition: 300ms;

  &:focus,
  &:hover {
    color: $--color-primary-light-2;
  }
}

.el-menu-item {
  display: flex;
  align-items: center;
  width: 100%;

  a {
    flex: 1;

    color: inherit;
  }
}

.el-menu {
  overflow-y: auto;
  overflow-x: hidden;
}

.el-aside {
  overflow-x: hidden;
}

.el-submenu__title i,
.el-menu-item i {
  color: inherit;
}

.el-table th > .cell {
  word-break: normal;
  white-space: nowrap;
  // text-overflow: initial;
}

.el-table .cell,
.el-table th > .cell {
  padding-left: 15px;
  padding-right: 15px;
}

.el-loading-spinner {
  svg {
    display: inline-block;
  }
}

.el-form-item__content {
  line-height: 1.5;
}

.el-form-item__description {
  color: rgba(0, 0, 0, 0.66);
  font-size: 12px;
  line-height: 1;
  padding-top: 7px;
}

.el-switch {
  margin-bottom: 7px;
}

.animate-logo-rotate {
  animation-name: logo-rotate;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
}

@keyframes logo-rotate {
  0%,
  100% {
    transform: rotate(-2.5deg);
  }

  20% {
    transform: scale(0.95);
  }

  50% {
    transform: rotate(2.5deg);
  }

  80% {
    transform: scale(0.95);
  }
}
