.dockite-schema--field-tree {
  .el-tabs__new-tab {
    margin: 8px 10px;

    width: 22px;
    height: 22px;

    line-height: 22px;

    transition: 300ms;

    color: #c0c4cc;
    border-color: #c0c4cc;

    &:hover {
      background: #c0c4cc;
      color: #909399;
    }

    .el-icon-plus {
      transform: scale(1);
    }
  }

  .el-tree-node {
    transition: 300ms;

    &.is-drop-inner {
      .dockite-schema--field-tree__node {
        // Taken from element ui
        background: #f5f7fa;
      }
    }
  }

  .dockite-schema--field-tree__node:hover {
    // Taken from element ui
    background: #f5f7fa;
  }

  .el-tree__drop-indicator {
    height: 3px;
  }

  .el-tree-node__content {
    height: auto;

    &:hover, &:focus {
      background: none;
    }
  }
}
