
$--color-primary: #2b6cb0;
$--font-path: '~element-ui/lib/theme-chalk/fonts';

@import '~element-ui/packages/theme-chalk/src/reset';
@import '~element-ui/packages/theme-chalk/src/index';

$breakpoints: (
  'sm': 640px,
  'md': 768px,
  'lg': 1024px,
  'xl': 1280px
);

@each $size, $value in $breakpoints {
  .dockite-container--#{$size} {
    width: 100%;
    max-width: $value;
    margin: 0 auto;
  }
}
